#mainSite {
  margin: auto;
  border: 1px solid black;
  width: 80%;
  box-shadow: 5px 5px 10px;
}

#imgg {
  width: 100%;
  height: 300px;
  background: black;
  background: -moz-linear-gradient(-45deg, black 0%, black 40%, #634118 70%, #745220 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, black), color-stop(40%, black), color-stop(70%, #634118), color-stop(100%, #745220));
  background: -webkit-linear-gradient(-45deg, black 0%, black 40%, #634118 70%, #745220 100%);
  background: -o-linear-gradient(-45deg, black 0%, black 40%, #634118 70%, #745220 100%);
  background: -ms-linear-gradient(-45deg, black 0%, black 40%, #634118 70%, #745220 100%);
  background: linear-gradient(185deg, black 0%, black 40%, #634118 70%, #745220 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#745220', GradientType=1 );
}

#imgg img {
  height: 300px;
  border-radius: 50%;
}

section {
  padding: 10px;
  background-color: #faf5ea;
}

section .row {
  margin: 0px;
}

section .row .left-section {
  padding: 0px;
}

section .row .left-section .trum {
  padding: 0px;
  margin: 10px;
}

section .row .left-section .trum #addPost {
  border: 0px;
  background-color: #a0f0a0;
}

section .row .left-section .trum #addPost:hover {
  background-color: #03f803;
}

section .row .left-section .trumbowyg-box, section .row .left-section .trumbowyg-editor {
  width: 95%;
  min-height: 100px;
  margin: 0px;
  background-color: white;
}

section .row .left-section .article {
  margin: 10px 10px 0px 10px;
}

section .row .left-section .article .articleText {
  width: 352px;
}

section .row .left-section .removeDiv button {
  margin-left: 10px;
  border: 0px;
  background-color: tomato;
}

section .row .left-section .removeDiv button:hover {
  background-color: red;
}

menu {
  background-color: #745220;
  padding: 0px;
  margin: 0px;
}

menu ul {
  text-align: center;
  padding: 10px 0px;
  margin: 0px;
}

menu ul a li {
  font-size: 1.2em;
  display: inline;
  padding: 0px 10px;
  font-weight: bold;
  color: #f7f7f7;
  border-radius: 20px;
  transition: all 0.3s;
}

menu ul a li:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
  background-color: wheat;
  padding: 7px 10px;
  border-radius: 3px;
}

.highlighted {
  color: black;
  background-color: wheat;
  padding: 7px 10px;
  border-radius: 3px;
}

.sidebarLine {
  margin: 10px 0px 10px 5px;
}

.social .socialLinks a {
  text-decoration: none;
  padding: 10px 5px;
}

.social .fab {
  font-size: 40px;
  color: #745220;
  transition: all 0.3s;
}

.social .fa-facebook:hover {
  color: #232396;
}

.social .fa-instagram:hover {
  color: #37648f;
}

.social .fa-twitter:hover {
  color: #54abe6;
}

.social .fa-youtube:hover {
  color: red;
}

.social .fb-like {
  margin: 0px 0px 10px 5px;
}

.posts .article {
  margin: 10px 0px;
  padding: 15px;
  background-color: #eed0a3;
  box-shadow: 0 0 25px 1px #946354, 0 0 15px 5px;
  border-radius: 5px;
}

.posts .article .post-img {
  padding: 5px;
}

.posts .article .article-img {
  width: 100%;
  margin: 0px 0px;
}

.posts .article .article-title {
  font-size: 1.3em;
}

.posts .article .date {
  padding-top: 5px;
  font-weight: bold;
  float: right;
  font-size: 1em;
}

.posts .article .article-body {
  font-size: 0.8em;
  padding: 5px 0px;
}

footer {
  border: 1px solid black;
  background-color: #745220;
}

footer .footer1 {
  margin: 0px;
  padding: 30px;
  font-size: 1em;
}

footer .footer1 .footer-title {
  color: wheat;
}

footer .footer1 .leftFooter ul {
  padding: 0px;
}

footer .footer1 .leftFooter ul li {
  color: #f7f7f7;
  list-style-type: none;
  padding: 0px 0px;
  width: 130px;
  transition: padding-left 0.2s, width 0.2s;
}

footer .footer1 .leftFooter ul li:hover {
  cursor: pointer;
  color: black;
  padding-left: 10px;
  background-color: wheat;
  width: 150px;
}

footer .footer1 .leftFooter ul hr {
  width: 40%;
  margin: 4px;
}

footer .footer1 .hide {
  display: none;
  transition: all 2s;
}

footer .footer1 .centerFooter {
  text-align: center;
}

footer .footer1 .centerFooter .social {
  background-color: #ad915b;
  padding: 7px;
  border-radius: 5px;
}

footer .footer1 .centerFooter .social .socialLinks {
  background-color: wheat;
  border-radius: 5px;
}

footer .footer1 .centerFooter .social .socialLinks h5 {
  margin: 0px;
  padding: 3px 0px 0px 0px;
  color: #745220;
}

footer .footer1 .centerFooter .social .socialLinks .fab {
  padding: 3px;
}

footer .footer1 .rightFooter {
  text-align: right;
  color: #f7f7f7;
}

footer .footer1 .rightFooter hr {
  margin-right: 0px;
  width: 60%;
}

footer .footer1 .rightFooter a {
  cursor: auto;
  color: #f7f7f7;
  text-decoration: none;
}

footer .footer1 .rightFooter .img-login {
  width: 10%;
  margin-right: 10px;
  margin-left: 10px;
}

footer .footer1 .rightFooter #masterName {
  margin-right: 33px;
}

.modal .modal-content {
  width: 60%;
}

.modal .modal-content .modal-header {
  padding-bottom: 5px;
}

.modal .modal-content .modal-body {
  padding: 10px 16px;
}

.modal .modal-content form button {
  margin: 0px 16px 16px 0px;
  float: right;
}

.trainers .trainer2 {
  text-align: right;
}

.schedule {
  padding: 15px;
}

.schedule table {
  text-align: center;
  float: left;
}

.schedule table tr th {
  border: 1px solid black;
  color: #744005;
  padding: 15px;
  background-color: powderblue;
}

.schedule table tr td {
  border: 1px solid black;
  padding: 15px;
  width: 150px;
}

.schedule .legend {
  text-align: center;
  width: 145px;
}

.schedule .legend span {
  display: block;
  padding: 10px;
}

.schedule a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 145px;
  background-color: #745220;
  color: #f7f7f7;
  padding: 7px;
}

.schedule a:hover {
  background-color: wheat;
  color: black;
  cursor: pointer;
  box-shadow: inset 0 0 10px black;
}

.junior {
  background-color: bisque;
  transition: all 0.5s;
}

.chicken {
  background-color: aquamarine;
  transition: all 0.5s;
}

.tomato {
  background-color: burlywood;
  transition: all 0.5s;
}

.meat {
  background-color: coral;
  transition: all 0.5s;
}

.cucamber {
  background-color: #92f579;
  transition: all 0.5s;
}

.carrot {
  background-color: #def579;
  transition: all 0.5s;
}

.hover {
  box-shadow: inset 0 0 10px black;
  opacity: 0.8;
  font-weight: bold;
}

.hoverRest {
  opacity: 0.3;
}

table {
  border: 1px solid black;
  text-align: center;
}

table tr td {
  width: 80px;
  padding: 5px;
}

#map {
  height: 400px;
  width: 100%;
}

#localization-table tr td {
  width: 400px;
  border: 1px solid black;
}

#contactForm {
  min-height: 300px;
}

#contactForm #email {
  width: 60%;
}

#contactForm #title {
  width: 60%;
}

#contactForm #message {
  width: 80%;
  height: 100px;
}

section {
  min-height: 300px;
}

.error {
  color: red;
  font-weight: bold;
}

input.error, textarea.error {
  font-weight: 400;
  color: black;
  border: 1px solid red;
}

.cardd {
  padding: 15px;
  background-color: #eed0a3;
  box-shadow: inset 0 0 15px 5px #946354, 0 0 15px 5px;
  border-radius: 5px;
  margin: 15px;
}

.promoImg {
  width: 70%;
}

.galleryMenu {
  padding: 10px;
}

.galleryMenu .gallery-menu-title {
  border-radius: 2px;
  background: linear-gradient(-30deg, #faf5ea, #bba066);
  margin: 0px;
  padding: 3px;
}

.galleryMenu ul li {
  list-style-type: none;
  font-size: 1.2em;
  position: relative;
  transition: all 0.5s;
  width: 0%;
}

.galleryMenu ul li:hover {
  color: #745220;
  cursor: pointer;
  background: linear-gradient(to right, #faf5ea, #e2d2af);
  width: 80%;
}

.galleryMenu ul li i {
  visibility: hidden;
  position: absolute;
  transition: all 0.5s;
  left: -30px;
  top: 5px;
  opacity: 0;
}

.galleryMenu ul li:hover i {
  visibility: visible;
  left: -15px;
  opacity: 1;
}

.gallery img {
  transition: 0.3s;
}

.gallery img:hover {
  opacity: 0.8;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  opacity: 1 !important;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 2.5em;
  transition: 0.5s;
}

.close:hover {
  color: gray;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 40px;
  color: white;
  font-size: 1.8em;
}

.leftArrow:hover {
  cursor: pointer;
  color: gray;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 40px;
  color: white;
  font-size: 1.8em;
}

.rightArrow:hover {
  cursor: pointer;
  color: gray;
}

.about-club ul {
  list-style-type: none;
}

.about-club ul li {
  padding: 0px;
  transition: 2s;
}

.about-club ul li:hover {
  padding-left: 10px;
  background-color: #bba066;
}
/*# sourceMappingURL=main.css.map */